<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MathCraft</title>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script src="./app.js"></script>
  </head>
  <body ng-app="mathApp">
    <h1 align="center" >MathCraft</h1>
    <div align="center" ng-controller="MathController">
      <form name="entry">
        <div ng-show="entry.username.$error.required">Please Enter Name</div>
        <input name="username" placeholder="Enter Name Here" ng-model="username" " required/>
        <select ng-model="selectedMode" ng-options="mode for mode in modes"> </select>
        <button ng-disabled="entry.username.$invalid" ng-show="start===false" ng-click="timerStart()">START</button>
      </form>
      <h1>Score : {{score}}</h1>

      <div ng-repeat="datum in data1">{{datum.username}}  <div align="center">{{datum.highscore}}</div></div>
      <div ng-show="start">
        <h2>{{expression}}</h2>
        <input autofocus type="text" ng-model="usrAnswer"/>
        <button ng-click="random()">submit</button>
      </div>
      <pre>

        {{time}}
        {{selectedMode}}
      </pre>
    </div>
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
<!--     LOAD IN FILE HERE -->
  </body>
</html>