<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MathCraft</title>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body ng-app="mathApp">
    <h1 class="title">MathCraft</h1>
    <div class="controller" ng-controller="MathController">
      <form class="form" ng-show="start===false" name="entry">
        <input name="username" placeholder="Enter Name Here" ng-model="username" " required/>
        <select ng-model="selectedMode" ng-options="mode for mode in modes"> </select>
        <button ng-disabled="entry.username.$invalid" ng-click="timerStart()">START</button>
      </form>
      <h3 ng-class="dynamicScoreClass">Score : {{score}}</h1>
      <div class="mathGame" ng-show="start">
        <h2 class="timer">{{time}}</h2>
        <h2>{{expression}}</h2>
        <form ng-submit="random()">
          <input autofocus ng-focus="start===true" type="text" ng-model="usrAnswer"/>
        </form>
        <!-- <button ng-click="random()">submit</button> -->
        <div ng-class="dynamicBonusClass">{{bonusString}}</div>
      </div>
      <div ng-show="start===false" class="scoreboard">
        <table class="advanced60">
          <caption>Advanced 60</caption>
          <tr>
            <th>User</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="score in scoresAdvanced60">
            <th>{{score.username}}</th>
            <th>{{score.highscore}}</th>
        </table>
        <table class="advanced30">
          <caption>Advanced 30</caption>
          <tr>
            <th>User</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="score in scoresAdvanced30">
            <th>{{score.username}}</th>
            <th>{{score.highscore}}</th>
        </table>
        <table class="basic60">
          <caption>Basic 60</caption>
          <tr>
            <th>User</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="score in scoresBasic60">
            <th>{{score.username}}</th>
            <th>{{score.highscore}}</th>
        </table>
        <table class="basic30">
          <caption>Basic 30</caption>
          <tr>
            <th>User</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="score in scoresBasic30">
            <th>{{score.username}}</th>
            <th>{{score.highscore}}</th>
        </table>
      </div>
    </div>
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
<!--     LOAD IN FILE HERE -->
  </body>
</html>