<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MathCraft</title>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script src="./app.js"></script>
  </head>
  <body ng-app="mathApp">
    <h1 align="center" >MathCraft</h1>
    <div align="center" ng-controller="MathController">
      <form ng-show="start===false" name="entry">
        <div ng-show="entry.username.$error.required">Please Enter Name</div>
        <input name="username" placeholder="Enter Name Here" ng-model="username" " required/>
        <select ng-model="selectedMode" ng-options="mode for mode in modes"> </select>
        <button ng-disabled="entry.username.$invalid" ng-click="timerStart()">START</button>
      </form>
      <h3>Score : {{score}}</h1>
      <div ng-show="start">
        <h2 class="timer">{{time}}</h2>
        <h2>{{expression}}</h2>
        <input autofocus type="text" ng-model="usrAnswer"/>
        <button ng-click="random()">submit</button>
      </div>
      <div ng-show="start===false" class="scoreboard">
        <h4>SCOREBOARD</h4>
        <h7 class="scoreHeader">60 Seconds</h7>
          <div ng-repeat="score in scoresListOne">{{score.username}}   <span align="center">{{score.highscore}}</span></div>
        <h7 class="scoreHeader">30 Seconds</h7>
          <div ng-repeat="score in scoresListTwo">{{score.username}}   <span align="center">{{score.highscore}}</span></div>
      </div>
    </div>
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
<!--     LOAD IN FILE HERE -->
  </body>
</html>