.author {
  position: relative;
  text-align: center;
  bottom: 15px;
}
.title {
  font-family: helvetica;
  position: relative;
  text-align: center;
  font-size: 400%;
}
.score {
  position: relative;
  text-align: center;
}

.scoreDec {
  position: relative;
  text-align: center;
  color: red;
}

.mathGame {
  position: relative;
  text-align: center;
}

.visibleExpression {
  color: black;
}

.hiddenExpression {
  color: white;
}

.scoreboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.score1{
  position: relative;
  text-align: center;
  color: #ffcc66;
}

.score2{
  position: relative;
  text-align: center;
  color: #33cc33;
}

.score3{
  position: relative;
  text-align: center;
  color: #33ccff;
}

.score4{
  position: relative;
  text-align: center;
  color: #cc33ff;
}

.form {
  position: relative;
  text-align: center;
}

.scoreboard {
  position: relative;
  top: 150px;
}

th {
  padding-right: 10px;
}

.cool {
  position: relative;
  text-align: center;
  color: white;
}

/*.warm {
  position: relative;
  text-align: center;
  color: #f4c542;
}

.heat {
  position: relative;
  text-align: center;
  color: #f44242;
}

.fuego {
  position: relative;
  text-align: center;
  color: #cb42f4;
}
*/
.bonusString {
  position: relative;
  top: 100px;
  font-size: 200%;
}

caption {
  text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
  .scoreboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}